//@include 'header';

@font-face {
  font-family: 'Vaccine-Bold';
  src: url('../fonts/Vaccine-Bold.eot');
  src: url('../fonts/Vaccine-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vaccine-Bold.ttf') format('truetype'),
       url('../fonts/Vaccine-Bold.svg#Vaccine-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaccine-Italic';
  src: url('../fonts/Vaccine-Italic.eot');
  src: url('../fonts/Vaccine-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vaccine-Italic.ttf') format('truetype'),
       url('../fonts/Vaccine-Italic.svg#Vaccine-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
  height: 190px;
  
  .holder {
    max-width: 1160px;
    margin: 0 auto;
    .logo {
      float: left;
      display: block;
      margin-top: 26px;
      text-decoration: none;
      position: relative;
      img {
        display: block;
      }
      .red {
        font-family: 'Vaccine-Bold';
        font-size: 18px;
        color: #e61926;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.05em;
        position: absolute;
        top: 48px;
        left: 162px;
        transform: rotate(-20deg);
        width: 165px;
      }
      .ast {
        font-family: 'Vaccine-Italic';
        color: #1f395a;
        font-size: 14px;
        position: absolute;
        
      }
    }
  }
}