#.htaccess

/vendor
/bootstrap/compiled.php

node_modules
.tmp
.sass-cache
bower_components
test/bower_components
*.komodoproject
less

.idea
*.clpprj
Thumbs.db
composer.lock
_ide_helper.php

/app/config/database.php
/app/lang/*/*.php

/app/storage/cache/*
/app/storage/logs/*
/app/storage/meta/*
/app/storage/sessions/*
/app/storage/views/*
/app/storage/*.dat

/public/uploads/files/*
/public/uploads/galleries/*
/public/uploads/galleries/thumbs/*
/public/uploads/thumbnail/*

/public/static/psd
/usersfiles
/psd
/!files
/!info
app/config/packages/scalia/sphinxsearch/config.php