body.profile {
  main {
    background: #f3f4f6;
    .holder {
      width: 1160px;
      margin: 0 auto;
      margin-top: 76px;
      margin-bottom: 98px;
      @extend .cf;
      @include mobile {
        width: 300px;
        margin-bottom: 0px;
        padding-bottom: 40px;
      }
      .photo {
        float: left;
        width: 200px;
        @include mobile {
          float: none;
          margin: 40px auto;
          position: relative;
          top: 10px;
        }
        img {
          width: 200px;
          -webkit-border-radius: 300px;
                  border-radius: 300px;
        }
        a {
          
        }
      }
      .info {
        float: right;
        width: 860px;
        @include mobile {
          float: none;
          width: 300px;
        }
        p {
          font-family: 'MuseoSansCyrl-300';
          font-size: 16px;
          color: #173153;  
          line-height: 19px;
        }
        .row {
          @extend .cf;
          position: relative;
          @include mobile {
            text-align: center;
          }
          &.video {
            margin-top: 36px;
          }
          .name {
            margin: 0;
            float: left;
            @include mobile {
              float: none;
            }
          }
          .edit {
            margin-top: 10px;
            margin-left: 56px;
            @include mobile {
              margin-left: 0;
            }
          }
          .exit {
            float: right;
            margin-top: -6px;
            @include mobile {
              position: absolute;
              top: -228px;
              right: 0;
            }
          }
          .rating {
            margin-top: 30px;
            text-align: left;
            @include mobile {
              text-align: center;
            }
            .icon2-star {
              color: #eb0807;
            }
          }
          .progress {
            width: 660px;
            margin-top: 40px;
          }
          .note {
            display: inline-block;
            width: 360px;
            vertical-align: middle;
            margin-left: 20px;
            @include mobile {
              width: 300px;
              margin: 0;
            }
            p {
              font-size: 14px;
            }
          }
          .add-video {
            margin: 0 auto;
            width: 188px;
            margin-top: 36px;
            display: block;
          }
          .video-holder {
            width: 660px;
            @include mobile {
              width: 300px;
              
            }
            iframe {
              position: absolute;
              opacity: 0;
              left: 0;
              @include mobile {
                width: 300px;
                height: 300px;
              }
              &.active {
                opacity: 1;
                z-index: 100;
              }
            }
            .video-preview {
              width: 660px;
              height: 440px;
              background-size: cover;
              text-align: center;
              position: relative;
              display: block;
              border: none;
              background-position: center;
              @include mobile {
                width: 300px;
                height: 300px;
              }
              &:hover {
                .play {
                  color: #e71927;
                }
              }
              &:before {
                display: inline-block;
                vertical-align: middle;
                width: 0;
                height: 100%;
                content: '';
              }
              .play {
                display: inline-block;
                vertical-align: middle;
                color: white;
                text-decoration: none;
                font-size: 104px;
                border-bottom: none;
              }
            }
            .about {
              background: white;
              border: 1px solid #d0d6e3;
              border-top: none;
              font-family: 'MuseoSansCyrl-300';
              font-size: 14px;
              padding: 0 20px;
              padding-top: 25px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

.videoupload {
  display: none;
}

.upload-video {
  label {
    position: absolute;
    width: 250px;
    //margin-top: -62px;
    visibility: hidden;
    height: 62px;
    display: block;
    width: 256px;
  }
}

.edit-profile {
  margin-top: -34px;
  @include mobile {
    margin-top: 0;
  }
  label {
    display: block;
    .label {
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      color: #173152;
      display: inline-block;
      margin-bottom: 4px;
      position: relative;
    }
    input, textarea {
      -webkit-border-radius: 10px;
              border-radius: 10px;
      border: none;
      font-family: 'MuseoSansCyrl-300';
      font-size: 18px;
      color: #173152;
      width: 360px;
      padding: 0px 26px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      height: 57px;
      margin-bottom: 20px;
      background: white;
      display: block;
      width: 660px;
      @include mobile {
        width: 300px;
      }
      &.error {
        background: #ffcdcc;
      }
    }
    textarea {
      padding-top: 17px;
      padding-bottom: 17px;
      height: 140px;
    }
    label.error {
      font-family: 'MuseoSansCyrl-300';
      font-size: 10px;
      color: #e61926;
      position: relative;
      top: -14px;
      margin-left: 0px;
    }
  }
}

.photoupload {
  display: none;
}

#photo-edit {
  .holder { 
  }
  img {
    max-width: 100%;
    max-height: 400px;
  }
  .cropper-bg {
    background: none;
  }
}