@import 'fonts';
@import 'header';
@import 'footer';
@import 'popups';
@import 'index';
@import 'profile';

html, body { height: 100%; }

.cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.btn-white {
  background: white;
  text-decoration: none;
  border: none;
  padding: 12px 30px;
  padding-bottom: 11px;
  border-radius: 30px;
}

body {
  main {
    a {
      font-size: 14px;
      font-family: 'MuseoSansCyrl-300';
      color: #153053;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      //margin-top: 6px;
      //margin-bottom: 50px;
      &:hover {
        color: #e71e1d;
        border-color: rgba(231, 30, 29, 0.5);
      }
    }
  }
}

body.profile {
  main {
    min-height: 100%;
    box-sizing: border-box; -moz-box-sizing: border-box;
    padding-bottom: 200px;
    padding-top: 190px;
  }
}

.rating {
  margin-top: 10px;
  text-align: center;
  .icon2-star {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #ffa700;
  }
  .count {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Vaccine-Bold';
    font-size: 24px;
    color: #173154;
    position: relative;
    top: -5px;
  }
  .legend {
    display: inline-block;
    vertical-align: middle;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    color: #173152;
    position: relative;
    top: -5px;
    left: 10px;
  }
}

h2 {
  font-family: 'Vaccine-Bold';
  font-weight: normal;
  font-size: 44px;
  color: white;
  text-align: center;
}

a.btn {
  font-family: 'Vaccine-Bold';
  background: white;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 24px 42px;
  margin-top: 78px;
  display: inline-block;
  border-radius: 36px;
  &:hover {
    background-color: #e4261e;
    color: white !important;
  }
}

button.btn-big-red {
  line-height: 100%;
}

.btn-big-red {
  display: inline-block;
  font-family: 'Vaccine-Bold';
  font-size: 18px;
  padding-left: 34px;
  padding-right: 34px;
  height: 58px;
  text-align: center;
  color: #e71927;
  border: 2px solid #e71927;
  border-radius: 40px;
  background: white;
  text-transform: uppercase;
  line-height: 330%;
  text-decoration: none;
  &:hover {
    background: #e71927;
    color: white;
    border-color: #e71927;
  }
}

.competitors {
  .holder {
    max-width: 1162px;
    margin: 0 auto;
    margin-bottom: 100px;
    .unit {
      display: inline-block;
      text-align: center;
      margin: 0 18px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
        .icon2-star {
          color: #138cdf !important;
        }
      }
      &:nth-of-type(2) {
        .icon2-star {
          color: #35cc26 !important;
        }
      }
      &:nth-of-type(3) {
        .icon2-star {
          color: #6f26a5 !important;
        }
      }
      &:nth-of-type(4) {
        .icon2-star {
          color: #ea1924 !important;
        }
      }
      .img {
        border-radius: 300px;
        img {
          display: block;
          width: 200px;
          height: 200px;
          border-radius: 300px;
        }
      }
      .name {
        font-family: 'Vaccine-Bold';
        font-size: 16px;
        color: #173152;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 28px;
      }
      .location {
        font-family: 'MuseoSansCyrl-300';        
        font-size: 14px;
        color: #1b3559;
        text-align: center;
        margin-top: 8px;
      }
      .rating {
        margin-top: 10px;
        text-align: center;
        .icon2-star {
          display: inline-block;
          vertical-align: middle;
          font-size: 45px;
          color: #ffa700;
        }
        .count {
          display: inline-block;
          vertical-align: middle;
          font-family: 'Vaccine-Bold';
          font-size: 24px;
          color: #173154;
          position: relative;
          top: -5px;
        }
        .legend {
          display: inline-block;
          vertical-align: middle;
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          color: #173152;
          position: relative;
          top: -6px;
          left: 10px;
        }
      }
      .vote {
        font-family: 'Vaccine-Regular';
        font-size: 13px;
        color: #ea1924;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-decoration: none;
        border: 1px solid #ea1924;
        padding: 10px 11px;
        padding-top: 12px;
        margin-top: 7px;
        display: inline-block;
        border-radius: 8px;
        &:hover{
          background: #ea1924;
          color: white;
        }
      }
    }
  }
}

h3 {
  font-family: 'Vaccine-Regular';
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #163055;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 62px;
  text-transform: uppercase;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  width: 500px;
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #e71927;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
  }
}