@font-face {
  font-family: 'Vaccine-Bold';
  src: url('../fonts/Vaccine-Bold.eot');
  src: url('../fonts/Vaccine-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vaccine-Bold.ttf') format('truetype'), url('../fonts/Vaccine-Bold.svg#Vaccine-Bold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Vaccine-Italic';
  src: url('../fonts/Vaccine-Italic.eot');
  src: url('../fonts/Vaccine-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Vaccine-Italic.ttf') format('truetype'), url('../fonts/Vaccine-Italic.svg#Vaccine-Italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Vaccine-Regular';
  src: url('../fonts/Vaccine-Regular.eot');
  src: url('../fonts/Vaccine-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Vaccine-Regular.ttf') format('truetype'), url('../fonts/Vaccine-Regular.svg#Vaccine-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?atpv0j');
  src: url('../fonts/icomoon.eot?#iefixatpv0j') format('embedded-opentype'), url('../fonts/icomoon.ttf?atpv0j') format('truetype'), url('../fonts/icomoon.woff?atpv0j') format('woff'), url('../fonts/icomoon.svg?atpv0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 49, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 63, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
.icon-play:before {
  content: "\70"; }

/* line 67, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
.icon-angle-down:before {
  content: "\64"; }

@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../fonts/Glyphter.woff') format('woff'), url('../fonts/Glyphter.ttf') format('truetype'), url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 81, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
[class*='icon2-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 90, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
.icon2-star:before {
  content: '\0041'; }

/* line 2, /Users/morad/Projects/amway/public/theme/css/_header.scss */
header {
  width: 100%;
  height: 190px; }
  /* line 6, /Users/morad/Projects/amway/public/theme/css/_header.scss */
  header .holder {
    max-width: 1160px;
    margin: 0 auto; }
    /* line 9, /Users/morad/Projects/amway/public/theme/css/_header.scss */
    header .holder .logo {
      float: left;
      display: block;
      margin-top: 26px;
      text-decoration: none;
      position: relative; }
      /* line 15, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header .holder .logo img {
        display: block; }
      /* line 18, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header .holder .logo .red {
        font-family: 'Vaccine-Bold';
        font-size: 18px;
        color: #e61926;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.05em;
        position: absolute;
        top: 48px;
        left: 162px;
        transform: rotate(-20deg);
        width: 165px; }
      /* line 31, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header .holder .logo .ast {
        font-family: 'Vaccine-Italic';
        color: #1f395a;
        font-size: 14px;
        position: absolute;
        top: 88px;
        left: 167px;
        letter-spacing: 0.05em;
        transform: rotate(-21deg);
        width: 200px; }
  /* line 44, /Users/morad/Projects/amway/public/theme/css/_header.scss */
  header nav {
    float: right;
    font-family: 'Vaccine-Regular';
    font-size: 16px;
    margin-top: 82px;
    margin-top: 85px;
    margin-right: 0px; }
    /* line 51, /Users/morad/Projects/amway/public/theme/css/_header.scss */
    header nav ul {
      padding: 0;
      margin: 0; }
      /* line 54, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header nav ul li {
        display: inline-block;
        margin: 0 20px; }
        /* line 57, /Users/morad/Projects/amway/public/theme/css/_header.scss */
        header nav ul li a {
          color: #19375f;
          text-decoration: none; }
          /* line 60, /Users/morad/Projects/amway/public/theme/css/_header.scss */
          header nav ul li a:hover {
            color: #e61926; }
        /* line 64, /Users/morad/Projects/amway/public/theme/css/_header.scss */
        header nav ul li.enter {
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          background: #f3f4f6;
          border-radius: 20px;
          position: relative;
          margin-right: 0;
          top: -3px; }
          /* line 72, /Users/morad/Projects/amway/public/theme/css/_header.scss */
          header nav ul li.enter .user-ico {
            position: absolute;
            top: 11px;
            left: 15px;
            pointer-events: none; }
          /* line 78, /Users/morad/Projects/amway/public/theme/css/_header.scss */
          header nav ul li.enter a {
            display: block;
            padding-bottom: 11px;
            padding-top: 10px;
            padding-right: 17px;
            padding-left: 38px; }
            /* line 84, /Users/morad/Projects/amway/public/theme/css/_header.scss */
            header nav ul li.enter a:hover {
              color: #e61926; }

/* line 94, /Users/morad/Projects/amway/public/theme/css/_header.scss */
body.profile header {
  position: absolute;
  background: white; }

/* line 1, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
footer {
  width: 100%;
  background: #1c4a83;
  height: 200px; }
  /* line 5, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
  footer .holder {
    margin: 0 auto;
    width: 1160px; }
    /* line 8, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
    footer .holder .left {
      float: left;
      margin-top: 81px; }
      /* line 11, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .left > * {
        display: inline-block;
        vertical-align: top; }
      /* line 15, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .left .copy {
        color: white;
        font-size: 14px;
        font-family: 'MuseoSansCyrl-300';
        margin-left: 45px;
        margin-top: 5px; }
      /* line 22, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .left .mail {
        color: white;
        font-size: 16px;
        font-family: 'MuseoSansCyrl-300';
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin-left: 35px;
        margin-top: 4px; }
    /* line 32, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
    footer .holder .right {
      float: right; }
      /* line 34, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .right .dev {
        color: white;
        font-size: 16px;
        font-family: 'MuseoSansCyrl-300';
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin-top: 84px;
        display: inline-block; }

/* line 48, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
body.profile footer {
  margin-top: -200px; }

/* line 2, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
.popup-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 72, 133, 0.5);
  display: none;
  z-index: 2000; }
  /* line 11, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
  .popup-wrapper .popup {
    width: 840px;
    margin: 0 auto;
    background: white;
    display: none;
    position: relative;
    margin-top: 75px; }
    /* line 18, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .header {
      font-family: 'Vaccine-Bold';
      font-size: 34px;
      color: #173152;
      text-align: center;
      padding-top: 42px;
      margin-bottom: 39px; }
    /* line 26, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .close {
      position: absolute;
      right: 12px;
      top: 12px;
      fill: #1d3658; }
      /* line 31, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .close:hover {
        fill: #e71e1d; }
    /* line 35, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup.active {
      display: block; }
    /* line 38, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup hr {
      background: rgba(25, 72, 133, 0.1);
      width: 760px;
      margin: 29px auto;
      border: none;
      height: 1px; }
    /* line 45, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .fb {
      font-family: 'Vaccine-Bold';
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #39579b;
      text-decoration: none;
      text-transform: uppercase;
      width: 360px;
      height: 56px;
      display: inline-block;
      line-height: 380%;
      border-radius: 10px;
      position: relative;
      margin-bottom: 17px; }
      /* line 60, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .fb:hover {
        background: #4264b3; }
      /* line 63, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .fb:after {
        background: url('../img/ico-fb.png');
        display: block;
        position: absolute;
        content: '';
        width: 11px;
        height: 20px;
        top: 20px;
        right: 32px; }
    /* line 74, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .vk {
      font-family: 'Vaccine-Bold';
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #5a7ea8;
      text-decoration: none;
      text-transform: uppercase;
      width: 360px;
      height: 56px;
      display: inline-block;
      line-height: 380%;
      border-radius: 10px;
      position: relative; }
      /* line 88, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .vk:hover {
        background: #6c91bc; }
      /* line 91, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .vk:after {
        background: url('../img/ico-vk.png');
        display: block;
        position: absolute;
        content: '';
        width: 13px;
        height: 16px;
        top: 19px;
        right: 32px; }
    /* line 102, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .btn-popup {
      font-size: 18px;
      color: #153053;
      font-family: 'MuseoSansCyrl-300';
      color: #153053;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      margin-top: 6px;
      margin-bottom: 50px; }
      /* line 112, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .btn-popup:hover {
        color: #e71e1d;
        border-color: rgba(231, 30, 29, 0.5); }
    /* line 117, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .note {
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      color: #153053;
      text-align: center;
      margin-bottom: 24px; }
    /* line 124, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup button {
      display: block;
      font-family: 'Vaccine-Bold';
      font-size: 18px;
      width: 100%;
      height: 58px;
      text-align: center;
      color: #e71927;
      border: 2px solid #e71927;
      border-radius: 40px;
      background: white;
      text-transform: uppercase; }
      /* line 136, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup button:hover {
        background: #e71927;
        color: white; }
    /* line 142, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup#reg form {
      width: 760px;
      margin: 0 auto; }
      /* line 145, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#reg form label {
        font-family: 'MuseoSansCyrl-300';
        display: block;
        margin-bottom: 8px;
        margin-top: 24px; }
        /* line 150, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label.small {
          margin: 0; }
          /* line 152, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label.small .label {
            width: 480px;
            font-size: 14px;
            margin-left: 18px; }
          /* line 157, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label.small label.error {
            position: absolute;
            top: 22px;
            margin-left: 160px; }
        /* line 163, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label .label {
          width: 160px;
          display: inline-block;
          vertical-align: top;
          font-size: 15px;
          color: #173152;
          margin-bottom: -1px;
          vertical-align: middle; }
        /* line 172, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label input {
          width: 572px;
          padding: 0px 26px;
          display: inline-block;
          box-sizing: border-box;
          vertical-align: top;
          font-size: 18px;
          color: #173152;
          background: #edeff2;
          border-radius: 10px;
          height: 57px;
          border: none;
          vertical-align: middle; }
          /* line 185, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label input[name="social"] {
            width: 525px; }
          /* line 188, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label input[type="checkbox"] {
            width: auto;
            margin-left: 160px; }
          /* line 192, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label input.error {
            background: #ffcdcc; }
        /* line 196, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label label.error {
          font-family: 'MuseoSansCyrl-300';
          font-size: 10px;
          color: #e61926;
          position: relative;
          top: -20px;
          margin-left: 164px; }
        /* line 204, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label .social-plus {
          display: inline-block;
          vertical-align: middle;
          width: 42px;
          text-align: center; }
          /* line 209, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label .social-plus:hover {
            color: #e71927;
            fill: #e71927; }
      /* line 215, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#reg form button {
        width: 360px; }
    /* line 219, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup#reg .note {
      text-align: left;
      display: inline-block;
      margin-left: 162px;
      font-size: 14px; }
    /* line 227, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup#enter form {
      width: 360px;
      margin: 0 auto;
      margin-bottom: 42px; }
      /* line 231, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#enter form input {
        display: block;
        background: #edeff2;
        border-radius: 10px;
        border: none;
        font-family: 'MuseoSansCyrl-300';
        font-size: 18px;
        color: #173152;
        width: 360px;
        padding: 0px 26px;
        box-sizing: border-box;
        height: 57px;
        margin-bottom: 20px; }
        /* line 244, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#enter form input.error {
          background: #ffcdcc; }
      /* line 248, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#enter form label.error {
        font-family: 'MuseoSansCyrl-300';
        font-size: 10px;
        color: #e61926;
        position: relative;
        top: -20px; }
  /* line 258, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
  .popup-wrapper.active {
    display: block; }

/* line 1, /Users/morad/Projects/amway/public/theme/css/_index.scss */
section {
  width: 100%;
  position: relative;
  text-align: center;
  height: 300px;
  background-image: url('../img/bg-agen.png');
  background-repeat: no-repeat;
  background-position: 40% 50%; }
  /* line 9, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section p {
    font-family: 'MuseoSansCyrl-300';
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 33px; }
  /* line 16, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section:before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: ''; }
  /* line 23, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-red {
    background-color: #ed1217; }
    /* line 25, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.color-red a.btn {
      color: #ed1217; }
      /* line 27, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      section.color-red a.btn:hover {
        background-color: #2d9f1e;
        color: white; }
  /* line 33, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-green {
    background-color: #299f39; }
    /* line 35, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.color-green a.btn {
      color: #197a26; }
  /* line 40, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-blue .cover {
    background: rgba(25, 72, 133, 0.7); }
  /* line 45, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-yellow .cover {
    background: rgba(255, 168, 0, 0.7); }
  /* line 50, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-purple .cover {
    background: rgba(125, 52, 175, 0.7); }
  /* line 54, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section .holder {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 82px; }
    /* line 62, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder .play {
      text-decoration: none;
      color: white;
      font-size: 100px;
      margin-top: 40px;
      display: inline-block; }
      /* line 68, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      section .holder .play:hover {
        color: #e42228; }
    /* line 72, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder .down {
      text-decoration: none;
      color: white;
      display: inline-block;
      bottom: -130px;
      font-size: 60px;
      position: absolute;
      margin-left: -20px; }
      /* line 80, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      section .holder .down:hover {
        color: #e42228; }
    /* line 84, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder h1 {
      max-width: 962px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      line-height: 61px; }
    /* line 91, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
  /* line 97, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.long {
    height: 710px;
    background-size: cover;
    background-position: center center; }
    /* line 101, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.long .holder {
      margin-left: 0; }
    /* line 104, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.long p {
      font-size: 24px; }
  /* line 108, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

/* line 117, /Users/morad/Projects/amway/public/theme/css/_index.scss */
.main-news h3 {
  margin-bottom: 80px; }
/* line 120, /Users/morad/Projects/amway/public/theme/css/_index.scss */
.main-news .holder {
  max-width: 1162px;
  margin: 0 auto;
  margin-bottom: 105px; }
  /* line 124, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  .main-news .holder .unit {
    width: 360px;
    display: inline-block;
    margin: 0 18px;
    vertical-align: top; }
    /* line 129, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit:first-of-type {
      margin-left: 0; }
    /* line 132, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit:last-of-type {
      margin-right: 0; }
    /* line 135, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit a.wrapper {
      text-decoration: none; }
    /* line 138, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit .title {
      font-family: 'Vaccine-Regular';
      font-size: 18px;
      color: #1c3659;
      text-align: center; }
    /* line 144, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit .date {
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      color: #1c3659;
      text-align: center; }
    /* line 150, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit .frame {
      position: relative;
      z-index: 100;
      top: 0;
      border: 1px solid #d0d6e3;
      background: white; }
    /* line 161, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .wrapper:hover .name {
      color: #ea1e17; }
    /* line 164, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .wrapper:hover .play {
      color: #ea1e17; }
    /* line 169, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .frame {
      position: relative;
      text-align: center; }
      /* line 172, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.video .frame:before {
        display: block;
        background: url('../img/deco-best-video.png');
        position: absolute;
        content: '';
        width: 223px;
        height: 116px;
        margin-top: -5px;
        margin-left: -6px; }
    /* line 183, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .play {
      position: absolute;
      color: white;
      text-decoration: none;
      font-size: 104px;
      left: 50%;
      margin-left: -52px;
      margin-top: 68px; }
    /* line 192, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .name {
      font-family: 'Vaccine-Bold';
      font-size: 16px;
      color: #173152;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px; }
    /* line 202, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .location {
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      color: #1b3559;
      text-align: center;
      margin-top: 8px; }
    /* line 209, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.video .rating {
      margin-bottom: -10px;
      margin-top: 5px; }
      /* line 212, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.video .rating .icon2-star {
        color: #752aa8; }
    /* line 218, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.map .visual {
      width: 360px; }
    /* line 221, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.map .title {
      text-align: left;
      padding-left: 14px;
      padding-top: 0px;
      min-height: 48px;
      padding-bottom: 2px;
      line-height: 21px; }
    /* line 231, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.map:hover .frame .title {
      color: #ea1e17; }
    /* line 237, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit.photo {
      position: relative; }
      /* line 239, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.photo .all {
        margin-top: 30px; }
      /* line 242, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.photo .title {
        margin-top: 18px; }
      /* line 245, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.photo .date {
        margin-top: 27px;
        margin-bottom: 18px; }
      /* line 249, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.photo .visual {
        width: 360px;
        height: 240px;
        display: block; }
      /* line 254, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.photo .frame {
        position: relative;
        z-index: 100;
        top: 0;
        border: 1px solid #d0d6e3;
        background: white;
        left: 0; }
        /* line 261, /Users/morad/Projects/amway/public/theme/css/_index.scss */
        .main-news .holder .unit.photo .frame.second {
          top: 4px;
          left: 3px;
          position: absolute; }
        /* line 267, /Users/morad/Projects/amway/public/theme/css/_index.scss */
        .main-news .holder .unit.photo .frame.third {
          top: 9px;
          left: 8px;
          position: absolute; }
      /* line 277, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit.photo .wrapper:hover .frame .title {
        color: #ea1e17; }
    /* line 284, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .main-news .holder .unit .all {
      font-family: 'MuseoSansCyrl-300';
      font-size: 12px;
      color: #173153;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 21px;
      margin-left: 4px;
      display: inline-block;
      letter-spacing: 0.1em; }
      /* line 294, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .main-news .holder .unit .all:hover {
        color: #ea1e17; }

/* line 2, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
body.profile main {
  background: #f3f4f6; }
  /* line 4, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
  body.profile main .holder {
    width: 1160px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 98px; }
    /* line 10, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    body.profile main .holder .photo {
      float: left;
      width: 200px; }
      /* line 13, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .photo img {
        width: 200px;
        border-radius: 300px; }
    /* line 21, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    body.profile main .holder .info {
      float: right;
      width: 860px; }
      /* line 25, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info p {
        font-family: 'MuseoSansCyrl-300';
        font-size: 16px;
        color: #173153;
        line-height: 19px; }
      /* line 33, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .name {
        margin: 0;
        float: left; }
      /* line 37, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .edit {
        margin-top: 10px;
        margin-left: 56px; }
      /* line 41, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .exit {
        float: right;
        margin-top: -6px; }
      /* line 45, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .rating {
        margin-top: 30px;
        text-align: left; }
        /* line 48, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
        body.profile main .holder .info .row .rating .icon2-star {
          color: #eb0807; }
      /* line 52, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .add-video {
        margin-top: 36px; }

/* line 8, /Users/morad/Projects/amway/public/theme/css/main.scss */
html, body {
  height: 100%; }

/* line 11, /Users/morad/Projects/amway/public/theme/css/main.scss */
.cf:after, body.profile main .holder:after, body.profile main .holder .info .row:after {
  content: "";
  display: table;
  clear: both; }

/* line 18, /Users/morad/Projects/amway/public/theme/css/main.scss */
.btn-white {
  background: white;
  text-decoration: none;
  border: none;
  padding: 12px 30px;
  padding-bottom: 11px;
  border-radius: 30px; }

/* line 29, /Users/morad/Projects/amway/public/theme/css/main.scss */
body main a {
  font-size: 14px;
  font-family: 'MuseoSansCyrl-300';
  color: #153053;
  border-bottom: 1px solid #dce0e5;
  text-decoration: none;
  display: inline-block; }
  /* line 38, /Users/morad/Projects/amway/public/theme/css/main.scss */
  body main a:hover {
    color: #e71e1d;
    border-color: rgba(231, 30, 29, 0.5); }

/* line 47, /Users/morad/Projects/amway/public/theme/css/main.scss */
body.profile main {
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 200px;
  padding-top: 190px; }

/* line 55, /Users/morad/Projects/amway/public/theme/css/main.scss */
.rating {
  margin-top: 10px;
  text-align: center; }
  /* line 58, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .rating .icon2-star {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #ffa700; }
  /* line 64, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .rating .count {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Vaccine-Bold';
    font-size: 24px;
    color: #173154;
    position: relative;
    top: -5px; }
  /* line 73, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .rating .legend {
    display: inline-block;
    vertical-align: middle;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    color: #173152;
    position: relative;
    top: -5px;
    left: 10px; }

/* line 85, /Users/morad/Projects/amway/public/theme/css/main.scss */
h2 {
  font-family: 'Vaccine-Bold';
  font-weight: normal;
  font-size: 44px;
  color: white;
  text-align: center; }

/* line 93, /Users/morad/Projects/amway/public/theme/css/main.scss */
a.btn {
  font-family: 'Vaccine-Bold';
  background: white;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 24px 42px;
  margin-top: 78px;
  display: inline-block;
  border-radius: 36px; }
  /* line 104, /Users/morad/Projects/amway/public/theme/css/main.scss */
  a.btn:hover {
    background-color: #e4261e;
    color: white !important; }

/* line 110, /Users/morad/Projects/amway/public/theme/css/main.scss */
.btn-big-red {
  display: inline-block;
  font-family: 'Vaccine-Bold';
  font-size: 18px;
  padding-left: 34px;
  padding-right: 34px;
  height: 58px;
  text-align: center;
  color: #e71927;
  border: 2px solid #e71927;
  border-radius: 40px;
  background: white;
  text-transform: uppercase;
  line-height: 330%; }
  /* line 124, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .btn-big-red:hover {
    background: #e71927;
    color: white;
    border-color: #e71927; }

/* line 132, /Users/morad/Projects/amway/public/theme/css/main.scss */
.competitors .holder {
  max-width: 1162px;
  margin: 0 auto;
  margin-bottom: 100px; }
  /* line 136, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .competitors .holder .unit {
    display: inline-block;
    text-align: center;
    margin: 0 18px; }
    /* line 140, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:first-of-type {
      margin-left: 0; }
    /* line 143, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:last-of-type {
      margin-right: 0; }
      /* line 145, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit:last-of-type .icon2-star {
        color: #138cdf !important; }
    /* line 150, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(2) .icon2-star {
      color: #35cc26 !important; }
    /* line 155, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(3) .icon2-star {
      color: #6f26a5 !important; }
    /* line 160, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(4) .icon2-star {
      color: #ea1924 !important; }
    /* line 164, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .img {
      border-radius: 300px; }
      /* line 166, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .img img {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 300px; }
    /* line 173, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .name {
      font-family: 'Vaccine-Bold';
      font-size: 16px;
      color: #173152;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      margin-top: 28px; }
    /* line 183, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .location {
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      color: #1b3559;
      text-align: center;
      margin-top: 8px; }
    /* line 190, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .rating {
      margin-top: 10px;
      text-align: center; }
      /* line 193, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .rating .icon2-star {
        display: inline-block;
        vertical-align: middle;
        font-size: 45px;
        color: #ffa700; }
      /* line 199, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .rating .count {
        display: inline-block;
        vertical-align: middle;
        font-family: 'Vaccine-Bold';
        font-size: 24px;
        color: #173154;
        position: relative;
        top: -5px; }
      /* line 208, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .rating .legend {
        display: inline-block;
        vertical-align: middle;
        font-family: 'MuseoSansCyrl-300';
        font-size: 14px;
        color: #173152;
        position: relative;
        top: -6px;
        left: 10px; }
    /* line 219, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .vote {
      font-family: 'Vaccine-Regular';
      font-size: 13px;
      color: #ea1924;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-decoration: none;
      border: 1px solid #ea1924;
      padding: 10px 11px;
      padding-top: 12px;
      margin-top: 7px;
      display: inline-block;
      border-radius: 8px; }
      /* line 232, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .vote:hover {
        background: #ea1924;
        color: white; }

/* line 241, /Users/morad/Projects/amway/public/theme/css/main.scss */
h3 {
  font-family: 'Vaccine-Regular';
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #163055;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 62px;
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */