@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}

@import 'fonts';
@import 'header';
@import 'footer';
@import 'popups';
@import 'index';
@import 'profile';
@import 'participants';


html, body { height: 100%; }

body {
  min-width: 1162px;
  @include mobile {
    min-width: 100%;
    margin-top: 98px;
  }
}

.cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.btn-white {
  background: white;
  text-decoration: none;
  border: none;
  padding: 12px 30px;
  padding-bottom: 11px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

body {
  main {
    a {
      font-size: 14px;
      font-family: 'MuseoSansCyrl-300';
      color: #153053;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      //margin-top: 6px;
      //margin-bottom: 50px;
      &:hover {
        color: #e71e1d;
        border-color: rgba(231, 30, 29, 0.5);
      }
    }
    &.white {
      
    }
  }
}

body.profile, body.sticky {
  main {
    min-height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; -moz-box-sizing: border-box;
    padding-bottom: 120px;
    padding-top: 120px;
    @include mobile {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.rating {
  margin-top: 10px;
  text-align: center;
  .icon2-star {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #ffa700;
  }
  .count {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Vaccine-Bold';
    font-size: 24px;
    color: #173154;
    position: relative;
    top: -5px;
  }
  .legend {
    display: inline-block;
    vertical-align: middle;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    color: #173152;
    position: relative;
    top: -5px;
    left: 4px;
  }
}

h2 {
  font-family: 'Vaccine-Bold';
  font-weight: normal;
  font-size: 44px;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Vaccine-Regular';
  font-size: 44px;
  color: #173154;
  text-align: center;
  font-weight: normal;
}

a.btn {
  font-family: 'Vaccine-Bold';
  background: white;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 24px 42px;
  margin-top: 78px;
  display: inline-block;
  -webkit-border-radius: 36px;
          border-radius: 36px;
  &:hover {
    background-color: #e4261e;
    color: white !important;
  }
  @include mobile {
    margin-top: 45px;
  }
}

button.btn-big-red {
  line-height: 100%;
}

.btn-big-red {
  display: inline-block;
  font-family: 'Vaccine-Bold';
  font-size: 18px;
  padding-left: 34px;
  padding-right: 34px;
  height: 58px;
  text-align: center;
  color: #e71927;
  border: 2px solid #e71927;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  background: white;
  text-transform: uppercase;
  line-height: 330%;
  text-decoration: none;
  &:hover {
    background: #e71927;
    color: white;
    border-color: #e71927;
  }
}

.spoiler-body {
  display: none;
}

.competitors {
  .holder {
    max-width: 1162px;
    margin: 0 auto;
    margin-bottom: 100px;
    @include mobile {
      max-width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
    .unit {
      display: inline-block;
      text-align: center;
      margin: 0 18px;
      width: 200px;
      margin-bottom: 50px;
      @include mobile {
        //display: block;
        margin: 0 5% !important;
        margin-bottom:50px !important;
      }
      &:nth-of-type(5n+1) {
        margin-left: 0; 
      }
      &:nth-of-type(6n+1) {
        .icon2-star {
          color: #ffa700 !important;
        }
      }
      &:nth-of-type(5n+5) {
        margin-right: 0;
      }
      &:nth-of-type(6n+5) {
        .icon2-star {
          color: #138cdf !important;
        }
      }
      &:nth-of-type(6n+3) {
        .icon2-star {
          color: #35cc26 !important;
        }
      }
      &:nth-of-type(6n+4) {
        .icon2-star {
          color: #6f26a5 !important;
        }
      }
      &:nth-of-type(6n+2) {
        .icon2-star {
          color: #ea1924 !important;
        }
      }
      &:nth-of-type(6n+6) {
        .icon2-star {
          color: #35cc26 !important
        }
      }
      .img {
        -webkit-border-radius: 300px;
                border-radius: 300px;
        img {
          display: block;
          width: 200px;
          max-height: 200px;
          -webkit-border-radius: 300px;
                  border-radius: 300px;
        }
      }
      .name {
        font-family: 'Vaccine-Bold';
        font-size: 16px;
        color: #173152;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 28px;
        height: 48px;
        overflow: hidden;
      }
      .location {
        font-family: 'MuseoSansCyrl-300';        
        font-size: 14px;
        color: #1b3559;
        text-align: center;
        margin-top: 8px;
      }
      .rating {
        margin-top: 10px;
        text-align: center;
        .icon2-star {
          display: inline-block;
          vertical-align: middle;
          font-size: 45px;
          color: #ffa700;
        }
        .count {
          display: inline-block;
          vertical-align: middle;
          font-family: 'Vaccine-Bold';
          font-size: 24px;
          color: #173154;
          position: relative;
          top: -5px;
        }
        .legend {
          display: inline-block;
          vertical-align: middle;
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          color: #173152;
          position: relative;
          top: -6px;
          left: 4px;
        }
      }
      .vote {
        font-family: 'Vaccine-Regular';
        font-size: 13px;
        color: #ea1924;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-decoration: none;
        border: 1px solid #ea1924;
        padding: 10px 11px;
        padding-top: 12px;
        margin-top: 7px;
        display: inline-block;
        -webkit-border-radius: 8px;
                border-radius: 8px;
        &:hover, &.disabled{
          background: #ea1924;
          color: white;
        }
      }
    }
  }
}

h3 {
  font-family: 'Vaccine-Regular';
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #163055;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 62px;
  text-transform: uppercase;
  @include mobile {
    margin-top: 30px;
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  width: 500px;
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #e71927;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
  }
}

.note {
  font-family: 'MuseoSansCyrl-300';
  font-size: 14px;
  color: #173152;
  text-align: center;
}

.holder {
  max-width: 1162px;
  margin: 0 auto;
  @include mobile {
    //width: 300px;
  }
}

.col-2 {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -moz-column-width: 460px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-width: 460px;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
          column-width: 460px;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'MuseoSansCyrl-300';
  font-size: 18px;
  color: #143053;
  line-height: 28px;
  margin-bottom: 62px;
  @include mobile {
    max-width: 300px;
    margin-bottom: 10px;
  }
  p{
    margin-top: 0px;
    margin-bottom: 28px;
  }
  &>div{
    @include mobile {
      margin-bottom: 60px;
    }
  }
  div {
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    font-size: 16px;
    line-height: 22px;
    a {
      font-size: 14px;
      font-family: 'MuseoSansCyrl-300';
      color: red;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      line-height: 120%;
    }
    .img-holder {
      min-height: 66px;
    }
  }
}

.row {
  &.grey {
    background: #e7eaed;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .center-text {
    width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-top: -20px;
    font-family: 'MuseoSansCyrl-300';
    font-size: 20px;
    color: #143053;
    line-height: 28px;
    @include mobile {
      width: 300px;
    }
    a {
      font-size: inherit;
      color: #ea1924;
      display: inline-block;
      line-height: 120%;
    }
  }
  .note {
    a {
      color: red;
    }
  }
}

.units-3 {
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 50px;
  @include mobile {
    width: 300px;
    text-align: center;
  }
  .unit {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 66px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @include mobile {
      margin-left: 0;
      margin-right: 0;
    }
    img {
      margin-bottom: 28px;
    }
    .italic {
      font-family: 'Vaccine-Italic';
      font-size: 24px;
      color: #173152;
    }
    .title {
      color: #173154;
      font-family: 'Vaccine-Bold';
      font-size: 20px;
    }
    p {
      display: inline-block;
      width: 240px;
      font-family: 'MuseoSansCyrl-300';
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.gallery {
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  @include mobile {
    width: 300px;
  }
  .text {
    margin-top: 40px;
    margin-bottom: 100px;
    p {
      font-family: 'MuseoSansCyrl-300';
      font-size: 18px;
      color: #143053;
      line-height: 28px;
    }
  }
  #bx-pager {
    a {
      opacity: 0.35;
      display: inline-block;
      border: 3px solid transparent;
      vertical-align: middle;
      img {
        display: block;
      }
      &.active {
        opacity: 1;
        border-color: #e71a28;
        -webkit-border-radius: 2px;
                border-radius: 2px;
      }
    }
  }
  .bx-wrapper {
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 0px;
    .bx-viewport {
      padding-bottom: 68px;
    }
    .bx-controls-direction {
      a {
        background: url(../img/slider-btn-left.png);
        width: 52px;
        height: 52px;
        border: none;
        background-position: top;
        margin-top: -62px;
        &:hover {
          background-position: bottom;
        }
        &.bx-next {
          
        }
        &.bx-prev {
          -webkit-transform:scaleX(-1);
          -ms-transform:scaleX(-1);
          -o-transform:scaleX(-1);
          transform:scaleX(-1);
          text-indent: 9999px;
        }
      }
    }
  }
  .desc {
    position: absolute;
    bottom: 0;
    bottom: -36px;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    color: #143053;
  }
}

.pagination {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  position: relative;
  border-top: 2px solid rgba(#194885, 0.1);
  padding-top: 34px;
  margin-bottom: 86px;
  li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Vaccine-Regular';
    color: #173152;
    cursor: default;
    margin: 0 10px;
    a {
      font-family: inherit;
      color: inherit;
      font-size: inherit;
      cursor: pointer;
      border: inherit;
    }
    &.active {
      color: #f10000;
    }
    &:first-of-type {
      float: left;
      margin: 0;
      position: relative;
      text-indent: -999999px;
      width: 12px;
      height: 22px;
      &:after {
        display: block;
        background: url('../img/ico-left.png');
        top: 4px;
        width: 12px;
        height: 22px;
        position: absolute;
        content: '';
        pointer-events: none;
      }
      a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        text-indent: -999990px;
      }
    }
    &:last-of-type {
      float: right;
      margin: 0;
      
      position: relative;
      width: 12px;
      height: 22px;
      a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        text-indent: -999990px;
      }
      &:after {
        display: block;
        background: url('../img/ico-left.png');
        top: 0px;
        width: 12px;
        height: 22px;
        position: absolute;
        content: '';
        pointer-events: none;
        transform: scaleX(-1);
      }
      
    }
  }
}