//@include 'header';

@font-face {
  font-family: 'Vaccine-Bold';
  src: url('../fonts/Vaccine-Bold.eot');
  src: url('../fonts/Vaccine-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vaccine-Bold.ttf') format('truetype'),
       url('../fonts/Vaccine-Bold.svg#Vaccine-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaccine-Italic';
  src: url('../fonts/Vaccine-Italic.eot');
  src: url('../fonts/Vaccine-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vaccine-Italic.ttf') format('truetype'),
       url('../fonts/Vaccine-Italic.svg#Vaccine-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaccine-Regular';
  src: url('../fonts/Vaccine-Regular.eot');
  src: url('../fonts/Vaccine-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vaccine-Regular.ttf') format('truetype'),
       url('../fonts/Vaccine-Regular.svg#Vaccine-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
       url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?atpv0j');
	src:url('../fonts/icomoon.eot?#iefixatpv0j') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?atpv0j') format('truetype'),
		url('../fonts/icomoon.woff?atpv0j') format('woff'),
		url('../fonts/icomoon.svg?atpv0j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\70";
}

.icon-angle-down:before {
	content: "\64";
}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon2-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon2-star:before{content:'\0041';}

.rating {
  margin-top: 10px;
  text-align: center;
  .icon2-star {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #ffa700;
  }
  .count {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Vaccine-Bold';
    font-size: 24px;
    color: #173154;
    position: relative;
    top: -5px;
  }
  .legend {
    display: inline-block;
    vertical-align: middle;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    color: #173152;
    position: relative;
    top: -7px;
    left: 10px;
  }
}

header {
  width: 100%;
  height: 190px;
  
  .holder {
    max-width: 1160px;
    margin: 0 auto;
    .logo {
      float: left;
      display: block;
      margin-top: 26px;
      text-decoration: none;
      position: relative;
      img {
        display: block;
      }
      .red {
        font-family: 'Vaccine-Bold';
        font-size: 18px;
        color: #e61926;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 0.05em;
        position: absolute;
        top: 48px;
        left: 162px;
        transform: rotate(-20deg);
        width: 165px;
      }
      .ast {
        font-family: 'Vaccine-Italic';
        color: #1f395a;
        font-size: 14px;
        position: absolute;
        top: 88px;
        left: 167px;
        letter-spacing: 0.05em;
        transform: rotate(-21deg);
        width: 200px;
      }
    }
  }
  nav {
    float: right;
    font-family: 'Vaccine-Regular';
    font-size: 16px;
    margin-top: 82px;
    margin-top: 85px;
    margin-right: 0px;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 20px;
        a {
          color: #19375f;
          text-decoration: none;
          &:hover {
            color: #e61926;
          }
        }
        &.enter {
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          background: #f3f4f6;
          border-radius: 20px;
          position: relative;
          margin-right: 0;
          top: -3px;
          .user-ico {
            position: absolute;
            top: 11px;
            left: 15px;
            pointer-events: none;
          }
          a {
            display: block;
            padding-bottom: 11px;
            padding-top: 10px;
            padding-right: 17px;
            padding-left: 38px;
            &:hover {
              color: #e61926;
            }
          }
        }
      }
    }
  }
}

section {
  width: 100%;
  position: relative;
  text-align: center;
  height: 300px;
  background-image: url('../img/bg-agen.png');
  background-repeat: no-repeat;
  background-position: 40% 50%;
  &:before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
  &.color-red {
    background-color: #ed1217;
    a.btn {
      color: #ed1217;
      &:hover {
        background-color: #2d9f1e;
        color: white;
      }
    }
  }
  &.color-green {
    background-color: #299f39;
    a.btn {
      color: #197a26;
    }
  }
  &.color-blue {
    .cover {
      background: rgba(#194885, 0.7);
    }
  }
  &.color-yellow {
    .cover {
      background: rgba(#ffa800, 0.7);
    }
  }
  &.color-purple {
    .cover {
      background: rgba(#7d34af, 0.7);
    }
  }
  .holder {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 82px;
    .play {
      text-decoration: none;
      color: white;
      font-size: 100px;
      margin-top: 40px;
      display: inline-block;
      &:hover {
        color: #e42228;
      }
    }
    .down {
      text-decoration: none;
      color: white;
      display: inline-block;
      bottom: -130px;
      font-size: 60px;
      position: absolute;
      margin-left: -20px;
      &:hover {
        color: #e42228;
      }
    }
    h1 {
      max-width: 962px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      line-height: 61px;
    }
    p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.long {
    height: 710px;
    background-size: cover;
    background-position: center center;
    .holder {
      margin-left: 0;
    }
    p {
      font-size: 24px;
    }
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

h2 {
  font-family: 'Vaccine-Bold';
  font-weight: normal;
  font-size: 44px;
  color: white;
  text-align: center;
}

p {
  font-family: 'MuseoSansCyrl-300';
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 33px;
}

a.btn {
  font-family: 'Vaccine-Bold';
  background: white;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 24px 42px;
  margin-top: 78px;
  display: inline-block;
  border-radius: 36px;
  &:hover {
    background-color: #e4261e;
    color: white !important;
  }
}

.competitors {
  .holder {
    max-width: 1162px;
    margin: 0 auto;
    margin-bottom: 100px;
    .unit {
      display: inline-block;
      text-align: center;
      margin: 0 18px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
        .icon2-star {
          color: #138cdf !important;
        }
      }
      &:nth-of-type(2) {
        .icon2-star {
          color: #35cc26 !important;
        }
      }
      &:nth-of-type(3) {
        .icon2-star {
          color: #6f26a5 !important;
        }
      }
      &:nth-of-type(4) {
        .icon2-star {
          color: #ea1924 !important;
        }
      }
      .img {
        border-radius: 300px;
        img {
          display: block;
          width: 200px;
          height: 200px;
          border-radius: 300px;
        }
      }
      .name {
        font-family: 'Vaccine-Bold';
        font-size: 16px;
        color: #173152;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 28px;
      }
      .location {
        font-family: 'MuseoSansCyrl-300';        
        font-size: 14px;
        color: #1b3559;
        text-align: center;
        margin-top: 8px;
      }
      .rating {
        margin-top: 10px;
        text-align: center;
        .icon2-star {
          display: inline-block;
          vertical-align: middle;
          font-size: 45px;
          color: #ffa700;
        }
        .count {
          display: inline-block;
          vertical-align: middle;
          font-family: 'Vaccine-Bold';
          font-size: 24px;
          color: #173154;
          position: relative;
          top: -5px;
        }
        .legend {
          display: inline-block;
          vertical-align: middle;
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          color: #173152;
          position: relative;
          top: -7px;
          left: 10px;
        }
      }
      .vote {
        font-family: 'Vaccine-Regular';
        font-size: 13px;
        color: #ea1924;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-decoration: none;
        border: 1px solid #ea1924;
        padding: 10px 11px;
        padding-top: 12px;
        margin-top: 7px;
        display: inline-block;
        border-radius: 8px;
        &:hover{
          background: #ea1924;
          color: white;
        }
      }
    }
  }
}

h3 {
  font-family: 'Vaccine-Regular';
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #163055;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 62px;
  text-transform: uppercase;
}

.main-news {
  h3 {
    margin-bottom: 80px; //!! убрать
  }
  .holder {
    max-width: 1162px;
    margin: 0 auto;
    margin-bottom: 105px;
    .unit {
      width: 360px;
      display: inline-block;
      margin: 0 18px;
      vertical-align: top;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      a.wrapper {
        text-decoration: none;
      }
      .title {
        font-family: 'Vaccine-Regular';
        font-size: 18px;
        color: #1c3659;
        text-align: center;
      }
      .date {
        font-family: 'MuseoSansCyrl-300';
        font-size: 14px;
        color: #1c3659;
        text-align: center;
      }
      .frame {
        position: relative;
        z-index: 100;
        top: 0;
        border: 1px solid #d0d6e3;
        background: white;
      }
      &.video {
        //text-align: center;
        .wrapper {
          &:hover {
            .name {
              color: #ea1e17;
            }
            .play {
              color: #ea1e17;
            }
          }
        }
        .frame {
          position: relative;
          text-align: center;
          &:before {
            display: block;
            background: url('../img/deco-best-video.png');
            position: absolute;
            content: '';
            width: 223px;
            height: 116px;
            margin-top: -5px;
            margin-left: -6px;
          }
        }
        .play {
          position: absolute;
          color: white;
          text-decoration: none;
          font-size: 104px;
          left: 50%;
          margin-left: -52px;
          margin-top: 68px;
        }
        .name {
          font-family: 'Vaccine-Bold';
          font-size: 16px;
          color: #173152;
          line-height: 24px;
          letter-spacing: 0.05em;
          text-align: center;
          text-transform: uppercase;
          margin-top: 10px;
        }
        .location {
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          color: #1b3559;
          text-align: center;
          margin-top: 8px;
        }
        .rating {
          margin-bottom: -10px;
          margin-top: 5px;
          .icon2-star {
            color: #752aa8;
          }
        }
      }
      &.map {
        .visual {
          width: 360px;
        }
        .title {
          text-align: left;
          padding-left: 14px;
          padding-top: 0px;
          min-height: 48px;
          padding-bottom: 2px;
          line-height: 21px;
        }
        &:hover {
          .frame {
            .title {
              color: #ea1e17;
            }
          }
        }
      }
      &.photo {
        position: relative;
        .all {
          margin-top: 30px;
        }
        .title {
          margin-top: 18px;
        }
        .date {
          margin-top: 27px;
          margin-bottom: 18px;
        }
        .visual {
          width: 360px;
          height: 240px;
          display: block;
        }
        .frame {
          position: relative;
          z-index: 100;
          top: 0;
          border: 1px solid #d0d6e3;
          background: white;
          left: 0;
          &.second {
            //right: -5px;
            top: 4px;
            left: 3px;
            position: absolute;
          }
          &.third {
            //right: -11px;
            top: 9px;
            left: 8px;
            position: absolute;
          }
        }
        .wrapper {
          &:hover {
            .frame {
              .title {
                color: #ea1e17;
              }
            }
          }
        }
      }
      .all {
        font-family: 'MuseoSansCyrl-300';
        font-size: 12px;
        color: #173153;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 21px;
        margin-left: 4px;
        display: inline-block;
        letter-spacing: 0.1em;
        &:hover {
          color: #ea1e17;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: #1c4a83;
  height: 200px;
  .holder {
    margin: 0 auto;
    width: 1160px;
    .left {
      float: left;
      margin-top: 81px;
      &>* {
        display: inline-block;
        vertical-align: top;
      }
      .copy {
        color: white;
        font-size: 14px;
        font-family: 'MuseoSansCyrl-300';
        margin-left: 45px;
        margin-top: 5px;
      }
      .mail {
        color: white;
        font-size: 16px;
        font-family: 'MuseoSansCyrl-300';
        text-decoration: none;
        border-bottom: 1px solid rgba(white, 0.5);
        margin-left: 35px;
        margin-top: 4px;
      }
    }
    .right {
      float: right;
      .dev {
        color: white;
        font-size: 16px;
        font-family: 'MuseoSansCyrl-300';
        text-decoration: none;
        border-bottom: 1px solid rgba(white, 0.5);
        margin-top: 84px;
        display: inline-block;
      }
    }
  }
}

.popup-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(#194885, 0.5);
  display: none;
  z-index: 2000;
  .popup {
    width: 840px;
    margin: 0 auto;
    background: white;
    display: none;
    position: relative;
    margin-top: 75px;
    .header {
      font-family: 'Vaccine-Bold';
      font-size: 34px;
      color: #173152;
      text-align: center;
      padding-top: 42px;
      margin-bottom: 39px;
    }
    .close {
      position: absolute;
      right: 12px;
      top: 12px;
      fill: #1d3658;
      &:hover {
        fill: #e71e1d;
      }
    }
    &.active {
      display: block;
    }
    hr {
      background: rgba(#194885, 0.1);
      width: 760px;
      margin: 29px auto;
      border: none;
      height: 1px;
    }
    .fb {
      font-family: 'Vaccine-Bold';
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #39579b;
      text-decoration: none;
      text-transform: uppercase;
      width: 360px;
      height: 56px;
      display: inline-block;
      line-height: 380%;
      border-radius: 10px;
      position: relative;
      margin-bottom: 17px;
      &:hover {
        background: #4264b3;
      }
      &:after {
        background: url('../img/ico-fb.png');
        display: block;
        position: absolute;
        content: '';
        width: 11px;
        height: 20px;
        top: 20px;
        right: 32px;
      }
    }
    .vk {
      font-family: 'Vaccine-Bold';
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #5a7ea8;
      text-decoration: none;
      text-transform: uppercase;
      width: 360px;
      height: 56px;
      display: inline-block;
      line-height: 380%;
      border-radius: 10px;
      position: relative;
      &:hover {
        background: #6c91bc;
      }
      &:after {
        background: url('../img/ico-vk.png');
        display: block;
        position: absolute;
        content: '';
        width: 13px;
        height: 16px;
        top: 19px;
        right: 32px;
      }
    }
    .btn-popup {
      font-size: 18px;
      color: #153053;
      font-family: 'MuseoSansCyrl-300';
      color: #153053;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      margin-top: 6px;
      margin-bottom: 50px;
      &:hover {
        color: #e71e1d;
        border-color: rgba(#e71e1d, 0.5);
      }
    }
    .note {
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      color: #153053;
      text-align: center;
      margin-bottom: 24px;
    }
    button {
      display: block;
      font-family: 'Vaccine-Bold';
      font-size: 18px;
      width: 100%;
      height: 58px;
      text-align: center;
      color: #e71927;
      border: 2px solid #e71927;
      border-radius: 40px;
      background: white;
      text-transform: uppercase;
      &:hover {
        background: #e71927;
        color: white;
      }
    }
    &#reg {
      form {
        width: 760px;
        margin: 0 auto;
        label {
          font-family: 'MuseoSansCyrl-300';
          display: block;
          margin-bottom: 8px;
          margin-top: 24px;
          &.small {
            margin: 0;
            .label {
              width: 480px;
              font-size: 14px;
              margin-left: 18px;
            }
            label.error {
              position: absolute;
              top: 22px;
              margin-left: 160px;
            }
          }
          .label {
            width: 160px;
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #173152;
            margin-bottom: -1px;
            vertical-align: middle;
          }
          input {
            width: 572px;
            padding: 0px 26px;
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            font-size: 18px;
            color: #173152;
            background: #edeff2;
            border-radius: 10px;
            height: 57px;
            border: none;
            vertical-align: middle;
            &[name="social"] {
              width: 525px;
            }
            &[type="checkbox"] {
              width: auto;
              margin-left: 160px;
            }
            &.error {
              background: #ffcdcc;
            }
          }
          label.error {
            font-family: 'MuseoSansCyrl-300';
            font-size: 10px;
            color: #e61926;
            position: relative;
            top: -20px;
            margin-left: 164px;
          }
          .social-plus {
            display: inline-block;
            vertical-align: middle;
            width: 42px;
            text-align: center;
            &:hover {
              color: #e71927;
              fill: #e71927;
            }
          }
        }
        button {
          width: 360px;
        }
      }
      .note {
        text-align: left;
        display: inline-block;
        margin-left: 162px;
        font-size: 14px;
      }
    }
    &#enter {
      form {
        width: 360px;
        margin: 0 auto;
        margin-bottom: 42px;
        input {
          display: block;
          background: #edeff2;
          border-radius: 10px;
          border: none;
          font-family: 'MuseoSansCyrl-300';
          font-size: 18px;
          color: #173152;
          width: 360px;
          padding: 0px 26px;
          box-sizing: border-box;
          height: 57px;
          margin-bottom: 20px;
          &.error {
            background: #ffcdcc;
          }
        }
        label.error {
          font-family: 'MuseoSansCyrl-300';
          font-size: 10px;
          color: #e61926;
          position: relative;
          top: -20px;
        }
      }
    }
  }
  &.active {
    display: block;
  }
}