@font-face {
  font-family: 'Vaccine-Bold';
  src: url('../fonts/Vaccine-Bold.eot');
  src: url('../fonts/Vaccine-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vaccine-Bold.ttf') format('truetype'), url('../fonts/Vaccine-Bold.svg#Vaccine-Bold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Vaccine-Italic';
  src: url('../fonts/Vaccine-Italic.eot');
  src: url('../fonts/Vaccine-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Vaccine-Italic.ttf') format('truetype'), url('../fonts/Vaccine-Italic.svg#Vaccine-Italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Vaccine-Regular';
  src: url('../fonts/Vaccine-Regular.eot');
  src: url('../fonts/Vaccine-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Vaccine-Regular.ttf') format('truetype'), url('../fonts/Vaccine-Regular.svg#Vaccine-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?atpv0j');
  src: url('../fonts/icomoon.eot?#iefixatpv0j') format('embedded-opentype'), url('../fonts/icomoon.ttf?atpv0j') format('truetype'), url('../fonts/icomoon.woff?atpv0j') format('woff'), url('../fonts/icomoon.svg?atpv0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 49, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 63, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
.icon-play:before {
  content: "\70"; }

/* line 67, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
.icon-angle-down:before {
  content: "\64"; }

@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../fonts/Glyphter.woff') format('woff'), url('../fonts/Glyphter.ttf') format('truetype'), url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 81, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
[class*='icon2-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 90, /Users/morad/Projects/amway/public/theme/css/_fonts.scss */
.icon2-star:before {
  content: '\0041'; }

/* line 2, /Users/morad/Projects/amway/public/theme/css/_header.scss */
header {
  width: 100%;
  height: 190px;
  height: 120px;
  min-width: 1160px; }
  /* line 8, /Users/morad/Projects/amway/public/theme/css/_header.scss */
  header .holder {
    max-width: 1160px;
    margin: 0 auto; }
    /* line 11, /Users/morad/Projects/amway/public/theme/css/_header.scss */
    header .holder .logo {
      float: left;
      display: block;
      margin-top: 14px;
      text-decoration: none;
      position: relative; }
      /* line 17, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header .holder .logo img {
        display: block;
        width: 50%; }
      /* line 21, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header .holder .logo .red {
        font-family: 'Vaccine-Bold';
        font-size: 12px;
        color: #e61926;
        text-transform: uppercase;
        line-height: 16px;
        letter-spacing: 0.05em;
        position: absolute;
        top: 8px;
        left: 78px;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        width: 165px; }
      /* line 37, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header .holder .logo .ast {
        font-family: 'Vaccine-Italic';
        color: #1f395a;
        font-size: 11px;
        position: absolute;
        top: 82px;
        left: 0px;
        letter-spacing: 0.05em;
        width: 200px; }
  /* line 50, /Users/morad/Projects/amway/public/theme/css/_header.scss */
  header nav {
    float: right;
    font-family: 'Vaccine-Regular';
    font-size: 16px;
    margin-top: 82px;
    margin-top: 44px;
    margin-right: 0px; }
    /* line 57, /Users/morad/Projects/amway/public/theme/css/_header.scss */
    header nav ul {
      padding: 0;
      margin: 0; }
      /* line 60, /Users/morad/Projects/amway/public/theme/css/_header.scss */
      header nav ul li {
        display: inline-block;
        margin: 0 20px; }
        /* line 63, /Users/morad/Projects/amway/public/theme/css/_header.scss */
        header nav ul li a {
          color: #19375f;
          text-decoration: none; }
          /* line 66, /Users/morad/Projects/amway/public/theme/css/_header.scss */
          header nav ul li a:hover {
            color: #e61926; }
        /* line 70, /Users/morad/Projects/amway/public/theme/css/_header.scss */
        header nav ul li.enter {
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          background: #f3f4f6;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          position: relative;
          margin-right: 0;
          top: -3px; }
          /* line 79, /Users/morad/Projects/amway/public/theme/css/_header.scss */
          header nav ul li.enter .user-ico {
            position: absolute;
            top: 11px;
            left: 15px;
            pointer-events: none; }
          /* line 85, /Users/morad/Projects/amway/public/theme/css/_header.scss */
          header nav ul li.enter a {
            display: block;
            padding-bottom: 11px;
            padding-top: 10px;
            padding-right: 17px;
            padding-left: 38px; }
            /* line 91, /Users/morad/Projects/amway/public/theme/css/_header.scss */
            header nav ul li.enter a:hover {
              color: #e61926; }

/* line 101, /Users/morad/Projects/amway/public/theme/css/_header.scss */
body.profile header, body.sticky header {
  position: absolute;
  background: white; }

/* line 1, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
footer {
  width: 100%;
  background: #1c4a83;
  height: 120px; }
  /* line 5, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
  footer .holder {
    margin: 0 auto;
    width: 1160px; }
    /* line 8, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
    footer .holder .left {
      float: left;
      margin-top: 81px;
      margin-top: 47px; }
      /* line 12, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .left > * {
        display: inline-block;
        vertical-align: top; }
      /* line 16, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .left .copy {
        color: white;
        font-size: 14px;
        font-family: 'MuseoSansCyrl-300';
        margin-left: 45px;
        margin-top: 5px; }
      /* line 23, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .left .mail {
        color: white;
        font-size: 16px;
        font-family: 'MuseoSansCyrl-300';
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin-left: 35px;
        margin-top: 4px; }
    /* line 33, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
    footer .holder .right {
      float: right; }
      /* line 35, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
      footer .holder .right .dev {
        color: white;
        font-size: 16px;
        font-family: 'MuseoSansCyrl-300';
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin-top: 50px;
        display: inline-block; }

/* line 49, /Users/morad/Projects/amway/public/theme/css/_footer.scss */
body.profile footer, body.sticky footer {
  margin-top: -120px; }

/* line 2, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
.popup-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 72, 133, 0.5);
  display: none;
  z-index: 2000; }
  /* line 11, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
  .popup-wrapper .popup {
    width: 840px;
    margin: 0 auto;
    background: white;
    display: none;
    position: relative;
    margin-top: 75px; }
    /* line 18, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .header {
      font-family: 'Vaccine-Bold';
      font-size: 34px;
      color: #173152;
      text-align: center;
      padding-top: 42px;
      margin-bottom: 39px; }
    /* line 26, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .close {
      position: absolute;
      right: 12px;
      top: 12px;
      fill: #1d3658;
      z-index: 200; }
      /* line 32, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .close:hover {
        fill: #e71e1d; }
    /* line 36, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup.active {
      display: block; }
    /* line 39, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup hr {
      background: rgba(25, 72, 133, 0.1);
      width: 760px;
      margin: 29px auto;
      border: none;
      height: 1px; }
    /* line 46, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .fb {
      font-family: 'Vaccine-Bold';
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #39579b;
      text-decoration: none;
      text-transform: uppercase;
      width: 360px;
      height: 56px;
      display: inline-block;
      line-height: 380%;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      position: relative;
      margin-bottom: 17px; }
      /* line 62, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .fb:hover {
        background: #4264b3; }
      /* line 65, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .fb:after {
        background: url('../img/ico-fb.png');
        display: block;
        position: absolute;
        content: '';
        width: 11px;
        height: 20px;
        top: 20px;
        right: 32px; }
    /* line 76, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .vk {
      font-family: 'Vaccine-Bold';
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #5a7ea8;
      text-decoration: none;
      text-transform: uppercase;
      width: 360px;
      height: 56px;
      display: inline-block;
      line-height: 380%;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      position: relative; }
      /* line 91, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .vk:hover {
        background: #6c91bc; }
      /* line 94, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .vk:after {
        background: url('../img/ico-vk.png');
        display: block;
        position: absolute;
        content: '';
        width: 13px;
        height: 16px;
        top: 19px;
        right: 32px; }
    /* line 105, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .btn-popup {
      font-size: 18px;
      color: #153053;
      font-family: 'MuseoSansCyrl-300';
      color: #153053;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      margin-top: 6px;
      margin-bottom: 50px; }
      /* line 115, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup .btn-popup:hover {
        color: #e71e1d;
        border-color: rgba(231, 30, 29, 0.5); }
    /* line 120, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup .note {
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      color: #153053;
      text-align: center;
      margin-bottom: 24px; }
    /* line 127, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup button {
      display: block;
      font-family: 'Vaccine-Bold';
      font-size: 18px;
      width: 100%;
      height: 58px;
      text-align: center;
      color: #e71927;
      border: 2px solid #e71927;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      background: white;
      text-transform: uppercase; }
      /* line 140, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup button:hover {
        background: #e71927;
        color: white; }
    /* line 146, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup#reg form {
      width: 760px;
      margin: 0 auto; }
      /* line 149, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#reg form label {
        font-family: 'MuseoSansCyrl-300';
        display: block;
        margin-bottom: 8px;
        margin-top: 24px; }
        /* line 154, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label.small {
          margin: 0;
          position: relative; }
          /* line 157, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label.small .label {
            width: 480px;
            font-size: 14px;
            margin-left: 18px; }
          /* line 162, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label.small label.error {
            position: absolute;
            top: 22px;
            margin-left: 160px; }
        /* line 168, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label .label {
          width: 160px;
          display: inline-block;
          vertical-align: top;
          font-size: 15px;
          color: #173152;
          margin-bottom: -1px;
          vertical-align: middle; }
        /* line 177, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label input {
          width: 572px;
          padding: 0px 26px;
          display: inline-block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: top;
          font-size: 18px;
          color: #173152;
          background: #edeff2;
          -webkit-border-radius: 10px;
          border-radius: 10px;
          height: 57px;
          border: none;
          vertical-align: middle; }
          /* line 193, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label input[name="social"] {
            width: 525px; }
          /* line 196, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label input[type="checkbox"] {
            width: auto;
            margin-left: 160px; }
          /* line 200, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label input.error {
            background: #ffcdcc; }
        /* line 204, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label label.error {
          font-family: 'MuseoSansCyrl-300';
          font-size: 10px;
          color: #e61926;
          position: relative;
          top: -20px;
          margin-left: 164px; }
        /* line 212, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#reg form label .social-plus {
          display: inline-block;
          vertical-align: middle;
          width: 42px;
          text-align: center; }
          /* line 217, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
          .popup-wrapper .popup#reg form label .social-plus:hover {
            color: #e71927;
            fill: #e71927; }
      /* line 223, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#reg form button {
        width: 360px; }
    /* line 227, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup#reg .note {
      text-align: left;
      display: inline-block;
      margin-left: 162px;
      font-size: 14px; }
    /* line 235, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
    .popup-wrapper .popup#enter form {
      width: 360px;
      margin: 0 auto;
      margin-bottom: 42px; }
      /* line 239, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#enter form input {
        display: block;
        background: #edeff2;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: none;
        font-family: 'MuseoSansCyrl-300';
        font-size: 18px;
        color: #173152;
        width: 360px;
        padding: 0px 26px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 57px;
        margin-bottom: 20px; }
        /* line 255, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
        .popup-wrapper .popup#enter form input.error {
          background: #ffcdcc; }
      /* line 259, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
      .popup-wrapper .popup#enter form label.error {
        font-family: 'MuseoSansCyrl-300';
        font-size: 10px;
        color: #e61926;
        position: relative;
        top: -20px; }
  /* line 269, /Users/morad/Projects/amway/public/theme/css/_popups.scss */
  .popup-wrapper.active {
    display: block; }

/* line 4, /Users/morad/Projects/amway/public/theme/css/_index.scss */
body main section a {
  border-bottom: none; }

/* line 11, /Users/morad/Projects/amway/public/theme/css/_index.scss */
section {
  width: 100%;
  position: relative;
  text-align: center;
  height: 300px;
  background-image: url('../img/bg-agen.png');
  background-repeat: no-repeat;
  background-position: 40% 50%; }
  /* line 19, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section p {
    font-family: 'MuseoSansCyrl-300';
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 33px; }
  /* line 26, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section:before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: ''; }
  /* line 33, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-red {
    background-color: #ed1217; }
    /* line 35, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.color-red a.btn {
      color: #ed1217; }
      /* line 37, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      section.color-red a.btn:hover {
        background-color: #2d9f1e;
        color: white; }
  /* line 43, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-green {
    background-color: #299f39; }
    /* line 45, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.color-green a.btn {
      color: #197a26; }
  /* line 50, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-blue .cover {
    background: rgba(25, 72, 133, 0.7); }
  /* line 55, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-yellow .cover {
    background: rgba(255, 168, 0, 0.7); }
  /* line 60, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-purple .cover {
    background: rgba(125, 52, 175, 0.7); }
  /* line 65, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.color-purple-dark .cover {
    background: #7729ac; }
  /* line 69, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section .holder {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle; }
    /* line 77, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder .play {
      text-decoration: none;
      color: white;
      font-size: 100px;
      margin-top: 40px;
      display: inline-block; }
      /* line 83, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      section .holder .play:hover {
        color: #e42228; }
    /* line 87, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder .down {
      text-decoration: none;
      color: white;
      display: inline-block;
      bottom: -130px;
      font-size: 60px;
      position: absolute;
      margin-left: -20px; }
      /* line 95, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      section .holder .down:hover {
        color: #e42228; }
    /* line 99, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder h1 {
      max-width: 962px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      line-height: 61px; }
    /* line 106, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section .holder p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
  /* line 113, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0; }
    /* line 119, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.video iframe.active {
      opacity: 1;
      z-index: 100; }
  /* line 125, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.long {
    height: 580px;
    background-size: cover;
    background-position: center center; }
    /* line 129, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.long .holder {
      margin-left: 0; }
    /* line 132, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.long p {
      font-size: 24px; }
  /* line 136, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section.mid {
    height: 384px;
    background-image: none; }
    /* line 139, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    section.mid .cover {
      background-image: url('../img/deco-brush.png');
      background-repeat: no-repeat;
      background-position: 50% 50%; }
  /* line 145, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  section .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

/* line 154, /Users/morad/Projects/amway/public/theme/css/_index.scss */
.news-grid.grey {
  background: #e2e6ee;
  padding-top: 1px;
  padding-bottom: 1px; }
/* line 159, /Users/morad/Projects/amway/public/theme/css/_index.scss */
.news-grid h3 {
  margin-bottom: 80px; }
/* line 162, /Users/morad/Projects/amway/public/theme/css/_index.scss */
.news-grid .holder {
  max-width: 1162px;
  margin: 0 auto;
  margin-bottom: 105px; }
  /* line 166, /Users/morad/Projects/amway/public/theme/css/_index.scss */
  .news-grid .holder .unit {
    width: 360px;
    display: inline-block;
    margin: 0 18px;
    vertical-align: top; }
    /* line 171, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit:first-of-type {
      margin-left: 0; }
    /* line 174, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit:last-of-type {
      margin-right: 0; }
    /* line 177, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit a.wrapper {
      text-decoration: none; }
    /* line 180, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit .title {
      font-family: 'Vaccine-Regular';
      font-size: 18px;
      color: #1c3659;
      text-align: center; }
    /* line 186, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit .date {
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      color: #1c3659;
      text-align: center; }
    /* line 192, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit .frame {
      position: relative;
      z-index: 100;
      top: 0;
      border: 1px solid #d0d6e3;
      background: white; }
    /* line 203, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .wrapper:hover .name {
      color: #ea1e17; }
    /* line 206, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .wrapper:hover .play {
      color: #ea1e17; }
    /* line 213, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video.best .frame:before {
      display: block;
      background: url('../img/deco-best-video.png');
      position: absolute;
      content: '';
      width: 223px;
      height: 116px;
      margin-top: -5px;
      margin-left: -6px; }
    /* line 225, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .frame {
      position: relative;
      text-align: center; }
    /* line 229, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .play {
      position: absolute;
      color: white;
      text-decoration: none;
      font-size: 104px;
      left: 50%;
      margin-left: -52px;
      margin-top: 68px; }
    /* line 238, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .name {
      font-family: 'Vaccine-Bold';
      font-size: 16px;
      color: #173152;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px; }
    /* line 248, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .location {
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      color: #1b3559;
      text-align: center;
      margin-top: 8px; }
    /* line 255, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video .rating {
      margin-bottom: -10px;
      margin-top: 5px; }
      /* line 258, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.video .rating .icon2-star {
        color: #752aa8; }
    /* line 264, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video:nth-of-type(6n+1) .icon2-star {
      color: #ffa700 !important; }
    /* line 269, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video:nth-of-type(6n+2) .icon2-star {
      color: #138cdf !important; }
    /* line 274, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video:nth-of-type(6n+3) .icon2-star {
      color: #35cc26 !important; }
    /* line 279, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video:nth-of-type(6n+4) .icon2-star {
      color: #6f26a5 !important; }
    /* line 284, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video:nth-of-type(6n+5) .icon2-star {
      color: #ea1924 !important; }
    /* line 289, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.video:nth-of-type(6n+6) .icon2-star {
      color: #35cc26 !important; }
    /* line 295, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.map .visual {
      width: 360px; }
    /* line 298, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.map .title {
      text-align: left;
      padding-left: 14px;
      padding-top: 4px;
      min-height: 48px;
      padding-bottom: 2px;
      line-height: 21px; }
    /* line 308, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.map:hover .frame .title {
      color: #ea1e17; }
    /* line 314, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit.photo {
      position: relative; }
      /* line 316, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.photo .all {
        margin-top: 30px; }
      /* line 319, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.photo .title {
        margin-top: 18px; }
      /* line 322, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.photo .date {
        margin-top: 27px;
        margin-bottom: 18px; }
      /* line 326, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.photo .visual {
        width: 360px;
        height: 240px;
        display: block; }
      /* line 331, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.photo .frame {
        position: relative;
        z-index: 100;
        top: 0;
        border: 1px solid #d0d6e3;
        background: white;
        left: 0; }
        /* line 338, /Users/morad/Projects/amway/public/theme/css/_index.scss */
        .news-grid .holder .unit.photo .frame.second {
          top: 4px;
          left: 3px;
          position: absolute; }
        /* line 344, /Users/morad/Projects/amway/public/theme/css/_index.scss */
        .news-grid .holder .unit.photo .frame.third {
          top: 9px;
          left: 8px;
          position: absolute; }
      /* line 354, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit.photo .wrapper:hover .frame .title {
        color: #ea1e17; }
    /* line 361, /Users/morad/Projects/amway/public/theme/css/_index.scss */
    .news-grid .holder .unit .all {
      font-family: 'MuseoSansCyrl-300';
      font-size: 12px;
      color: #173153;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 21px;
      margin-left: 4px;
      display: inline-block;
      letter-spacing: 0.1em; }
      /* line 371, /Users/morad/Projects/amway/public/theme/css/_index.scss */
      .news-grid .holder .unit .all:hover {
        color: #ea1e17; }

/* line 2, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
body.profile main {
  background: #f3f4f6; }
  /* line 4, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
  body.profile main .holder {
    width: 1160px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 98px; }
    /* line 10, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    body.profile main .holder .photo {
      float: left;
      width: 200px; }
      /* line 13, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .photo img {
        width: 200px;
        -webkit-border-radius: 300px;
        border-radius: 300px; }
    /* line 22, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    body.profile main .holder .info {
      float: right;
      width: 860px; }
      /* line 26, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info p {
        font-family: 'MuseoSansCyrl-300';
        font-size: 16px;
        color: #173153;
        line-height: 19px; }
      /* line 34, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row.video {
        margin-top: 36px; }
      /* line 37, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .name {
        margin: 0;
        float: left; }
      /* line 41, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .edit {
        margin-top: 10px;
        margin-left: 56px; }
      /* line 45, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .exit {
        float: right;
        margin-top: -6px; }
      /* line 49, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .rating {
        margin-top: 30px;
        text-align: left; }
        /* line 52, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
        body.profile main .holder .info .row .rating .icon2-star {
          color: #eb0807; }
      /* line 56, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .progress {
        width: 660px;
        margin-top: 40px; }
      /* line 60, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .note {
        display: inline-block;
        width: 360px;
        vertical-align: middle;
        margin-left: 20px; }
        /* line 65, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
        body.profile main .holder .info .row .note p {
          font-size: 14px; }
      /* line 69, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .add-video {
        margin-top: 36px; }
      /* line 72, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      body.profile main .holder .info .row .video-holder {
        width: 660px; }
        /* line 74, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
        body.profile main .holder .info .row .video-holder .video-preview {
          width: 660px;
          height: 440px;
          background-size: cover;
          text-align: center;
          position: relative;
          display: block;
          border: none; }
          /* line 83, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
          body.profile main .holder .info .row .video-holder .video-preview:hover .play {
            color: #e71927; }
          /* line 87, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
          body.profile main .holder .info .row .video-holder .video-preview:before {
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
            content: ''; }
          /* line 94, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
          body.profile main .holder .info .row .video-holder .video-preview .play {
            display: inline-block;
            vertical-align: middle;
            color: white;
            text-decoration: none;
            font-size: 104px;
            border-bottom: none; }
        /* line 103, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
        body.profile main .holder .info .row .video-holder .about {
          background: white;
          border: 1px solid #d0d6e3;
          border-top: none;
          font-family: 'MuseoSansCyrl-300';
          font-size: 14px;
          padding: 0 20px;
          padding-top: 25px;
          padding-bottom: 20px; }

/* line 120, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
.videoupload {
  display: none; }

/* line 125, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
.upload-video label {
  position: absolute;
  width: 250px;
  visibility: hidden;
  height: 62px;
  display: block;
  width: 256px; }

/* line 136, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
.edit-profile {
  margin-top: -34px; }
  /* line 138, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
  .edit-profile label {
    display: block; }
    /* line 140, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    .edit-profile label .label {
      font-family: 'MuseoSansCyrl-300';
      font-size: 16px;
      color: #173152;
      display: inline-block;
      margin-bottom: 4px;
      position: relative; }
    /* line 148, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    .edit-profile label input, .edit-profile label textarea {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: none;
      font-family: 'MuseoSansCyrl-300';
      font-size: 18px;
      color: #173152;
      width: 360px;
      padding: 0px 26px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 57px;
      margin-bottom: 20px;
      background: white;
      display: block;
      width: 660px; }
      /* line 165, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
      .edit-profile label input.error, .edit-profile label textarea.error {
        background: #ffcdcc; }
    /* line 169, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    .edit-profile label textarea {
      padding-top: 17px;
      padding-bottom: 17px;
      height: 140px; }
    /* line 174, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
    .edit-profile label label.error {
      font-family: 'MuseoSansCyrl-300';
      font-size: 10px;
      color: #e61926;
      position: relative;
      top: -14px;
      margin-left: 0px; }

/* line 185, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
.photoupload {
  display: none; }

/* line 192, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
#photo-edit img {
  max-width: 100%;
  max-height: 400px; }
/* line 196, /Users/morad/Projects/amway/public/theme/css/_profile.scss */
#photo-edit .cropper-bg {
  background: none; }

/* line 3, /Users/morad/Projects/amway/public/theme/css/_participants.scss */
body.participants .competitors .unit {
  margin: 0 15px;
  margin-bottom: 80px; }

/* line 9, /Users/morad/Projects/amway/public/theme/css/main.scss */
html, body {
  height: 100%; }

/* line 11, /Users/morad/Projects/amway/public/theme/css/main.scss */
body {
  min-width: 1162px; }

/* line 16, /Users/morad/Projects/amway/public/theme/css/main.scss */
.cf:after, body.profile main .holder:after, body.profile main .holder .info .row:after {
  content: "";
  display: table;
  clear: both; }

/* line 23, /Users/morad/Projects/amway/public/theme/css/main.scss */
.btn-white {
  background: white;
  text-decoration: none;
  border: none;
  padding: 12px 30px;
  padding-bottom: 11px;
  -webkit-border-radius: 30px;
  border-radius: 30px; }

/* line 35, /Users/morad/Projects/amway/public/theme/css/main.scss */
body main a {
  font-size: 14px;
  font-family: 'MuseoSansCyrl-300';
  color: #153053;
  border-bottom: 1px solid #dce0e5;
  text-decoration: none;
  display: inline-block; }
  /* line 44, /Users/morad/Projects/amway/public/theme/css/main.scss */
  body main a:hover {
    color: #e71e1d;
    border-color: rgba(231, 30, 29, 0.5); }

/* line 56, /Users/morad/Projects/amway/public/theme/css/main.scss */
body.profile main, body.sticky main {
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 120px;
  padding-top: 120px; }

/* line 65, /Users/morad/Projects/amway/public/theme/css/main.scss */
.rating {
  margin-top: 10px;
  text-align: center; }
  /* line 68, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .rating .icon2-star {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #ffa700; }
  /* line 74, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .rating .count {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Vaccine-Bold';
    font-size: 24px;
    color: #173154;
    position: relative;
    top: -5px; }
  /* line 83, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .rating .legend {
    display: inline-block;
    vertical-align: middle;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    color: #173152;
    position: relative;
    top: -5px;
    left: 4px; }

/* line 95, /Users/morad/Projects/amway/public/theme/css/main.scss */
h2 {
  font-family: 'Vaccine-Bold';
  font-weight: normal;
  font-size: 44px;
  color: white;
  text-align: center; }

/* line 103, /Users/morad/Projects/amway/public/theme/css/main.scss */
h1 {
  font-family: 'Vaccine-Regular';
  font-size: 44px;
  color: #173154;
  text-align: center;
  font-weight: normal; }

/* line 111, /Users/morad/Projects/amway/public/theme/css/main.scss */
a.btn {
  font-family: 'Vaccine-Bold';
  background: white;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 24px 42px;
  margin-top: 78px;
  display: inline-block;
  -webkit-border-radius: 36px;
  border-radius: 36px; }
  /* line 123, /Users/morad/Projects/amway/public/theme/css/main.scss */
  a.btn:hover {
    background-color: #e4261e;
    color: white !important; }

/* line 129, /Users/morad/Projects/amway/public/theme/css/main.scss */
button.btn-big-red {
  line-height: 100%; }

/* line 133, /Users/morad/Projects/amway/public/theme/css/main.scss */
.btn-big-red {
  display: inline-block;
  font-family: 'Vaccine-Bold';
  font-size: 18px;
  padding-left: 34px;
  padding-right: 34px;
  height: 58px;
  text-align: center;
  color: #e71927;
  border: 2px solid #e71927;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: white;
  text-transform: uppercase;
  line-height: 330%;
  text-decoration: none; }
  /* line 149, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .btn-big-red:hover {
    background: #e71927;
    color: white;
    border-color: #e71927; }

/* line 156, /Users/morad/Projects/amway/public/theme/css/main.scss */
.spoiler-body {
  display: none; }

/* line 161, /Users/morad/Projects/amway/public/theme/css/main.scss */
.competitors .holder {
  max-width: 1162px;
  margin: 0 auto;
  margin-bottom: 100px; }
  /* line 165, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .competitors .holder .unit {
    display: inline-block;
    text-align: center;
    margin: 0 18px;
    width: 200px; }
    /* line 170, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(5n+1) {
      margin-left: 0; }
    /* line 174, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(6n+1) .icon2-star {
      color: #ffa700 !important; }
    /* line 178, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(5n+5) {
      margin-right: 0; }
    /* line 182, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(6n+5) .icon2-star {
      color: #138cdf !important; }
    /* line 187, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(6n+3) .icon2-star {
      color: #35cc26 !important; }
    /* line 192, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(6n+4) .icon2-star {
      color: #6f26a5 !important; }
    /* line 197, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(6n+2) .icon2-star {
      color: #ea1924 !important; }
    /* line 202, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit:nth-of-type(6n+6) .icon2-star {
      color: #35cc26 !important; }
    /* line 206, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .img {
      -webkit-border-radius: 300px;
      border-radius: 300px; }
      /* line 209, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .img img {
        display: block;
        width: 200px;
        max-height: 200px;
        -webkit-border-radius: 300px;
        border-radius: 300px; }
    /* line 217, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .name {
      font-family: 'Vaccine-Bold';
      font-size: 16px;
      color: #173152;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      margin-top: 28px; }
    /* line 227, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .location {
      font-family: 'MuseoSansCyrl-300';
      font-size: 14px;
      color: #1b3559;
      text-align: center;
      margin-top: 8px; }
    /* line 234, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .rating {
      margin-top: 10px;
      text-align: center; }
      /* line 237, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .rating .icon2-star {
        display: inline-block;
        vertical-align: middle;
        font-size: 45px;
        color: #ffa700; }
      /* line 243, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .rating .count {
        display: inline-block;
        vertical-align: middle;
        font-family: 'Vaccine-Bold';
        font-size: 24px;
        color: #173154;
        position: relative;
        top: -5px; }
      /* line 252, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .rating .legend {
        display: inline-block;
        vertical-align: middle;
        font-family: 'MuseoSansCyrl-300';
        font-size: 14px;
        color: #173152;
        position: relative;
        top: -6px;
        left: 4px; }
    /* line 263, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .competitors .holder .unit .vote {
      font-family: 'Vaccine-Regular';
      font-size: 13px;
      color: #ea1924;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-decoration: none;
      border: 1px solid #ea1924;
      padding: 10px 11px;
      padding-top: 12px;
      margin-top: 7px;
      display: inline-block;
      -webkit-border-radius: 8px;
      border-radius: 8px; }
      /* line 277, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .competitors .holder .unit .vote:hover {
        background: #ea1924;
        color: white; }

/* line 286, /Users/morad/Projects/amway/public/theme/css/main.scss */
h3 {
  font-family: 'Vaccine-Regular';
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #163055;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 62px;
  text-transform: uppercase; }

/* line 297, /Users/morad/Projects/amway/public/theme/css/main.scss */
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 500px; }
  /* line 307, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #e71927;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px; }

/* line 326, /Users/morad/Projects/amway/public/theme/css/main.scss */
.note {
  font-family: 'MuseoSansCyrl-300';
  font-size: 14px;
  color: #173152;
  text-align: center; }

/* line 333, /Users/morad/Projects/amway/public/theme/css/main.scss */
.holder {
  max-width: 1162px;
  margin: 0 auto; }

/* line 338, /Users/morad/Projects/amway/public/theme/css/main.scss */
.col-2 {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'MuseoSansCyrl-300';
  font-size: 18px;
  color: #143053;
  line-height: 28px;
  margin-bottom: 62px; }
  /* line 356, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .col-2 p {
    margin-top: 0px;
    margin-bottom: 28px; }
  /* line 360, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .col-2 div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 16px;
    line-height: 22px; }
    /* line 366, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .col-2 div a {
      font-size: 14px;
      font-family: 'MuseoSansCyrl-300';
      color: red;
      border-bottom: 1px solid #dce0e5;
      text-decoration: none;
      display: inline-block;
      line-height: 120%; }
    /* line 375, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .col-2 div .img-holder {
      min-height: 66px; }

/* line 382, /Users/morad/Projects/amway/public/theme/css/main.scss */
.row.grey {
  background: #e7eaed;
  padding-top: 1px;
  padding-bottom: 1px; }
/* line 387, /Users/morad/Projects/amway/public/theme/css/main.scss */
.row .center-text {
  width: 840px;
  margin: 0 auto;
  text-align: center;
  margin-top: -20px;
  font-family: 'MuseoSansCyrl-300';
  font-size: 20px;
  color: #143053;
  line-height: 28px; }
  /* line 396, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .row .center-text a {
    font-size: inherit;
    color: #ea1924;
    display: inline-block;
    line-height: 120%; }
/* line 404, /Users/morad/Projects/amway/public/theme/css/main.scss */
.row .note a {
  color: red; }

/* line 410, /Users/morad/Projects/amway/public/theme/css/main.scss */
.units-3 {
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 50px; }
  /* line 414, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .units-3 .unit {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 66px; }
    /* line 419, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .units-3 .unit:first-child {
      margin-left: 0; }
    /* line 422, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .units-3 .unit:last-child {
      margin-right: 0; }
    /* line 425, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .units-3 .unit img {
      margin-bottom: 28px; }
    /* line 428, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .units-3 .unit .italic {
      font-family: 'Vaccine-Italic';
      font-size: 24px;
      color: #173152; }
    /* line 433, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .units-3 .unit .title {
      color: #173154;
      font-family: 'Vaccine-Bold';
      font-size: 20px; }
    /* line 438, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .units-3 .unit p {
      display: inline-block;
      width: 240px;
      font-family: 'MuseoSansCyrl-300';
      font-size: 18px;
      line-height: 22px; }

/* line 448, /Users/morad/Projects/amway/public/theme/css/main.scss */
.gallery {
  width: 960px;
  margin: 0 auto;
  margin-top: 40px; }
  /* line 452, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .gallery .text {
    margin-top: 40px;
    margin-bottom: 100px; }
    /* line 455, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .gallery .text p {
      font-family: 'MuseoSansCyrl-300';
      font-size: 18px;
      color: #143053;
      line-height: 28px; }
  /* line 463, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .gallery #bx-pager a {
    opacity: 0.35;
    display: inline-block;
    border: 3px solid transparent;
    vertical-align: middle; }
    /* line 468, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .gallery #bx-pager a img {
      display: block; }
    /* line 471, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .gallery #bx-pager a.active {
      opacity: 1;
      border-color: #e71a28;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
  /* line 479, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .gallery .bx-wrapper {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px; }
    /* line 485, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .gallery .bx-wrapper .bx-viewport {
      padding-bottom: 68px; }
    /* line 489, /Users/morad/Projects/amway/public/theme/css/main.scss */
    .gallery .bx-wrapper .bx-controls-direction a {
      background: url(../img/slider-btn-left.png);
      width: 52px;
      height: 52px;
      border: none;
      background-position: top; }
      /* line 495, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .gallery .bx-wrapper .bx-controls-direction a:hover {
        background-position: bottom; }
      /* line 501, /Users/morad/Projects/amway/public/theme/css/main.scss */
      .gallery .bx-wrapper .bx-controls-direction a.bx-prev {
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1); }
  /* line 510, /Users/morad/Projects/amway/public/theme/css/main.scss */
  .gallery .desc {
    position: absolute;
    bottom: 0;
    bottom: -36px;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    color: #143053; }

/*# sourceMappingURL=main.css.map */